# Homework DE Zoomcamp 2026 (No. 3 - 6)

This notebook contain code for solving the Module 1 Homework: Docker & SQL no. 3 - 6 of Data Engineering Zoomcamp

## Preparing Dataset

In [3]:
# Download dataset of green taxi trips in November 2025
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-27 00:02:28--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 13.35.33.83, 13.35.33.98, 13.35.33.60, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|13.35.33.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet.1’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.02s

2026-01-27 00:02:28 (46.2 MB/s) - ‘green_tripdata_2025-11.parquet.1’ saved [1164775/1164775]

In [4]:
# Download zones dataset
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-27 00:02:28--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-27T00%3A50%3A11Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-26T23%3A49%3A35Z&ske=2026-01-27T00%3A50%3A11Z&sks=b&skv=2018-11-09&sig=6qLpcoTT%2BcDYOTI%2FO2u9UOnyKS4Kfc2XX2sXVSALLFA%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTQ3MjQ0OCwibmJmIjoxNzY5NDcyMTQ4LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.FtajZWOJZR0w8_sDjDxm1jrln-letPo53oS7xJ_ehis&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-27 00:02:28--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-27T00%3A50%3A11Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-26T23%3A49%3A35Z&ske=2026-01-27T00%3A50%3A11Z&sks=b&skv=2018-11-09&sig=6qLpcoTT%2BcDYOTI%2FO2u9UOnyKS4Kfc2XX2sXVSALLFA%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTQ3MjQ0OCwibmJmIjoxNzY5NDcyMTQ4LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.FtajZWOJZR0w8_sDjDxm1jrln-letPo53oS7xJ_ehis&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2026-01-27 00:02:29 (62.4 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

In [5]:
import pandas as pd

In [6]:
trips = pd.read_parquet("green_tripdata_2025-11.parquet")
zones = pd.read_csv("taxi_zone_lookup.csv")

In [7]:
trips.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [8]:
trips.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [9]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
zones.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

## Question 3. Counting short trips

For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a `trip_distance` of less than or equal to 1 mile?

- 7,853
- 8,007
- 8,254
- 8,421

In [11]:
# Filter `trips` in November 2025
nov_trip = trips[(trips["lpep_pickup_datetime"] >= "2025-11-01") & (trips["lpep_pickup_datetime"] < "2025-12-01")]

In [12]:
# Filter `trips` to distance <= 1 mile
nov_trip_1_mile = nov_trip[nov_trip["trip_distance"] <= 1]

In [13]:
# Calculate the filtered dataset count
len(nov_trip_1_mile)

8007

>Answer: 8,007

## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance? Only consider trips with `trip_distance` less than 100 miles (to exclude data errors).

Use the pick up time for your calculations.

- 2025-11-14
- 2025-11-20
- 2025-11-23
- 2025-11-25

In [14]:
# Filter `trips` to distance less then 100 miles
trip_less_100_miles = trips[trips["trip_distance"] < 100]

In [15]:
# Day with the longest trip distance
trip_less_100_miles[["lpep_pickup_datetime","trip_distance"]].sort_values(by='trip_distance', ascending=False).head()

      lpep_pickup_datetime  trip_distance
18867  2025-11-14 15:36:27          88.03
27301  2025-11-20 12:28:02          73.84
31551  2025-11-23 10:12:18          45.26
30104  2025-11-22 02:07:07          40.16
20258  2025-11-15 14:12:35          39.81

>Answer: 2025-11-14

## Question 5. Biggest pickup zone

Which was the pickup zone with the largest `total_amount` (sum of all trips) on November 18th, 2025?

- East Harlem North
- East Harlem South
- Morningside Heights
- Forest Hills

In [16]:
# Aggregate sum of Pickup Location
gb =trips.groupby("PULocationID")["total_amount"].sum().sort_values(ascending=False)

In [17]:
# Highest total amount
gb.head()

PULocationID
74     257684.70
75     126791.81
166     49146.64
130     46490.74
43      45626.50
Name: total_amount, dtype: float64

In [18]:
zones[zones["LocationID"] == 74]

    LocationID    Borough               Zone service_zone
73          74  Manhattan  East Harlem North    Boro Zone

>Answer: East Harlem North

## Question 6. Largest tip

For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip?

Note: it's `tip` , not `trip`. We need the name of the zone, not the ID.

- JFK Airport
- Yorkville West
- East Harlem North
- LaGuardia Airport

In [19]:
# Filter November Trip to
nov_trip_EHN = trips[trips["PULocationID"] == 74]

In [20]:
nov_trip_EHN

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
24,2,2025-11-01 00:38:13,2025-11-01 00:55:47,N,1.0,74,262,1.0,3.40,19.80,...,0.5,2.00,0.0,NaN,1.0,27.05,1.0,1.0,2.75,0.0
53,2,2025-11-01 00:20:44,2025-11-01 00:27:05,N,1.0,74,74,1.0,0.78,7.90,...,0.5,0.00,0.0,NaN,1.0,10.40,1.0,1.0,0.00,0.0
62,2,2025-10-31 23:58:40,2025-11-01 00:26:34,N,1.0,74,265,1.0,16.25,61.80,...,0.5,1.00,0.0,NaN,1.0,65.30,1.0,1.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46896,2,2025-11-30 16:50:21,2025-11-30 17:08:49,None,NaN,74,151,NaN,2.41,19.81,...,0.5,3.20,0.0,NaN,1.0,24.51,NaN,NaN,NaN,0.0
46898,2,2025-11-30 16:15:00,2025-11-30 16:27:00,None,NaN,74,263,NaN,1.99,15.34,...,0.5,3.92,0.0,NaN,1.0,23.51,NaN,NaN,NaN,0.0
46899,2,2025-11-30 16:26:00,2025-11-30 16:44:00,None,NaN,74,167,NaN,2.75,8.22,...,0.5,0.00,0.0,NaN,1.0,9.72,NaN,NaN,NaN,0.0
46906,2,2025-11-30 18:31:00,2025-11-30 18:52:00,None,NaN,74,142,NaN,3.84,27.23,...,0.5,4.41,0.0,NaN,1.0,35.89,NaN,NaN,NaN,0.0
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.0

In [35]:
# Largest tip
nov_trip_EHN.sort_values(by = "tip_amount", ascending=False)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
40883,2,2025-11-30 16:30:27,2025-11-30 16:41:29,N,1.0,74,263,1.0,2.63,14.2,...,0.5,81.89,0.00,NaN,1.0,100.34,1.0,1.0,2.75,0.0
31744,2,2025-11-23 13:35:27,2025-11-23 13:48:25,N,1.0,74,138,1.0,6.79,27.5,...,0.5,50.00,6.94,NaN,1.0,90.94,1.0,1.0,0.00,0.0
38851,2,2025-11-29 01:44:21,2025-11-29 01:44:31,N,1.0,74,74,2.0,0.00,3.0,...,0.5,45.00,0.00,NaN,1.0,50.50,1.0,1.0,0.00,0.0
32603,2,2025-11-24 08:36:03,2025-11-24 09:03:38,N,1.0,74,146,1.0,4.63,27.5,...,0.5,34.25,108.00,NaN,1.0,171.25,1.0,1.0,0.00,0.0
20175,2,2025-11-15 12:49:08,2025-11-15 13:25:35,N,4.0,74,265,2.0,25.74,143.0,...,0.5,28.90,0.00,NaN,1.0,173.40,1.0,1.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24334,1,2025-11-18 13:13:51,2025-11-18 13:25:44,N,1.0,74,151,1.0,1.60,12.1,...,1.5,0.00,0.00,NaN,1.0,13.60,2.0,1.0,0.00,0.0
24328,1,2025-11-18 13:29:07,2025-11-18 13:46:43,N,1.0,74,43,1.0,1.60,16.3,...,1.5,0.00,0.00,NaN,1.0,17.80,2.0,1.0,0.00,0.0
24326,1,2025-11-18 13:31:02,2025-11-18 13:49:15,N,1.0,74,239,1.0,2.90,16.3,...,1.5,0.00,0.00,NaN,1.0,20.55,3.0,1.0,2.75,0.0
24291,2,2025-11-18 12:34:32,2025-11-18 12:51:25,N,1.0,74,168,1.0,1.98,13.5,...,0.5,0.00,0.00,NaN,1.0,15.00,2.0,1.0,0.00,0.0
15415,2,2025-11-12 09:11:06,2025-11-12 09:20:56,N,1.0,74,166,1.0,1.61,11.4,...,0.5,0.00,0.00,NaN,1.0,12.90,1.0,1.0,0.00,0.0

In [ ]:
# Zone with ID 263
zones[zones['LocationID']==263]

     LocationID    Borough            Zone service_zone
262         263  Manhattan  Yorkville West  Yellow Zone

>Answer: Yorkville West